In [66]:
import numpy as np
import pandas as pd
import xarray as xr

In [107]:
# Read table into pandas
query1 = pd.read_table('C:\\Users\Jesse\Documents\FILES\BATTERY_DATA_ANALYSIS\DATA/bat13_x19z00y03_2.xy', header=None).loc[6:8197]
# Strip Text and Expand into two columns
query2 = query1[0].str.strip().str.split(' ',expand=True).set_index(0)
query2

        1
0
1       0
2      10
3      15
4      18
5      51
6      71
7     117
8     163
9     210
10    244
11    304
12    368
13    327
14    319
15    283
16    212
17    183
18    131
19    102
20     55
21     35
22     15
23     10
24      8
25      2
26      1
27      1
28      1
29      1
30      0
...   ...
8163    3
8164    1
8165    3
8166    3
8167    2
8168    4
8169    2
8170    5
8171    3
8172    0
8173    4
8174    0
8175    1
8176    1
8177    1
8178    2
8179    3
8180    1
8181    1
8182    1
8183    3
8184    2
8185    0
8186    2
8187    3
8188    1
8189    2
8190    1
8191    1
8192    1

[8192 rows x 1 columns]