In [1]:
import numpy as np

import pandas as pd

import xarray as xr

In [10]:
# Read table into pandas
pd.read_table('C:\\Users\Jesse\Documents\FILES\BATTERY_DATA_ANALYSIS\DATA/bat13_x19z00y03_2.xy')

       #COMMAND: motor_cam bat13_x19z00y03_2 yr 3.5 3.95 15 60
0       # sl1r sl1l sl1t sl1b sl2r sl2l sl2t sl2b sl3r...
1       # 2 2 0.03 0 1 1 5 5.01 10 10 0.1 0.1 4 4 0.4 ...
2                        #Scan 0 Fri Jul 24 02:49:35 2015
3        #At end of scan, counts: 0.983718  7957  1298  0
4                                    #xr yr zr = 19 3.5 0
5                                                     1 0
6                                                    2 10
7                                                    3 15
8                                                    4 18
9                                                    5 51
10                                                   6 71
11                                                  7 117
12                                                  8 163
13                                                  9 210
14                                                 10 244
15                                                 11 304
16                                                 12 368
17                                                 13 327
18                                                 14 319
19                                                 15 283
20                                                 16 212
21                                                 17 183
22                                                 18 131
23                                                 19 102
24                                                  20 55
25                                                  21 35
26                                                  22 15
27                                                  23 10
28                                                   24 8
29                                                   25 2
...                                                   ...
122897                                             8163 0
122898                                             8164 1
122899                                             8165 2
122900                                             8166 0
122901                                             8167 3
122902                                             8168 1
122903                                             8169 0
122904                                             8170 2
122905                                             8171 3
122906                                             8172 1
122907                                             8173 2
122908                                             8174 3
122909                                             8175 2
122910                                             8176 2
122911                                             8177 0
122912                                             8178 2
122913                                             8179 1
122914                                             8180 0
122915                                             8181 2
122916                                             8182 4
122917                                             8183 2
122918                                             8184 2
122919                                             8185 0
122920                                             8186 4
122921                                             8187 1
122922                                             8188 1
122923                                             8189 2
122924                                             8190 1
122925                                             8191 1
122926                                             8192 2

[122927 rows x 1 columns]