In [66]:
import numpy as np
import pandas as pd
import xarray as xr

In [67]:
# Read table into pandas
query1 = pd.read_table('C:\\Users\Jesse\Documents\FILES\BATTERY_DATA_ANALYSIS\DATA/bat13_x19z00y03_2.xy', header=None)
query1.head(10)

                                                   0
0  #COMMAND: motor_cam bat13_x19z00y03_2 yr 3.5 3...
1  # sl1r sl1l sl1t sl1b sl2r sl2l sl2t sl2b sl3r...
2  # 2 2 0.03 0 1 1 5 5.01 10 10 0.1 0.1 4 4 0.4 ...
3                   #Scan 0 Fri Jul 24 02:49:35 2015
4   #At end of scan, counts: 0.983718  7957  1298  0
5                               #xr yr zr = 19 3.5 0
6                                                1 0
7                                               2 10
8                                               3 15
9                                               4 18

In [68]:
query2 = query1[6:9000]
query3 = query2[0].str.split(' ',expand=True)
query3.head(3)

  0   1     2     3     4     5     6     7     8     9     10    11
6  1   0  None  None  None  None  None  None  None  None  None  None
7  2  10  None  None  None  None  None  None  None  None  None  None
8  3  15  None  None  None  None  None  None  None  None  None  None

In [69]:
query3.iloc[:,[0,1]]

        0    1
6       1    0
7       2   10
8       3   15
9       4   18
10      5   51
11      6   71
12      7  117
13      8  163
14      9  210
15     10  244
16     11  304
17     12  368
18     13  327
19     14  319
20     15  283
21     16  212
22     17  183
23     18  131
24     19  102
25     20   55
26     21   35
27     22   15
28     23   10
29     24    8
30     25    2
31     26    1
32     27    1
33     28    1
34     29    1
35     30    0
...   ...  ...
8970  770    7
8971  771   10
8972  772   10
8973  773    4
8974  774   12
8975  775    7
8976  776    8
8977  777    8
8978  778    6
8979  779    7
8980  780   13
8981  781    8
8982  782    2
8983  783    4
8984  784    5
8985  785    5
8986  786    6
8987  787    4
8988  788   10
8989  789    7
8990  790    5
8991  791    5
8992  792    8
8993  793    3
8994  794    9
8995  795    8
8996  796    9
8997  797    6
8998  798    6
8999  799    5

[8994 rows x 2 columns]

In [41]:
#query4.loc[1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>